* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: aquamarine;
}
.row {
  margin-right: 0;
}
nav {
  box-shadow: 0 2px 5px 0 lightgrey;
}
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body {
  background: linear-gradient(#003346, #265369);
  color: white;
}
.landing div h2 span {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: larger;
}
.landing div h2 span:first-child {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: normal;
  letter-spacing: 2px;
}
.form-control {
  background: transparent;
  color: #f5f5f5;
  border-color: #637b86;
}
.form-control::placeholder {
  color: lightgrey;
}
nav .form-control:first-of-type::placeholder {
  color: rgb(41, 41, 41);
}
.form-control:focus {
  background: #39344a;
  caret-color: whitesmoke;
  color: whitesmoke;
}
main hr.d-block:first-of-type {
  margin-bottom: 4em;
  margin-top: -3em;
}
span.v-line {
  width: 10px;
  display: inline-block;
  background: #486c84;
  height: 90px;
  border-radius: 10px;
  margin-right: 5px;
}
div.topic.col-6 {
  flex: 0 0 auto;
  width: 48%;
}
@media (min-width: 768px) {
  div.topic.col-md-4 {
    flex: 0 0 auto;
    width: 32%;
  }
}
@media (min-width: 992px) {
  div.topic.col-lg-3 {
    flex: 0 0 auto;
    width: 23%;
  }
}
