{% extends 'Quiz/dependencies.html' %} {% load static %} {% block content %}
<main>
  <div class="landing vh-100 row justify-content-around align-items-center">
    <div class="col-5">
      <h2>
        <span>Quizzie</span> is a place to <br /><span>learn</span>, <br /><span
          >grow</span
        >
        <br />and <br /><span>develop.</span>
      </h2>
    </div>
    <div class="col-4">
      <h2>Create an account</h2>
      <p>No subscriptions. Membership is free, forever!</p>

      <a
        href="{% url 'register' %}"
        class="btn btn-primary mb-3 d-inline-block mx-auto"
      >
        Register
      </a>
    </div>
  </div>
  <hr class="w-75 d-block mx-auto hr" />
  <section class="section-1 row justify-content-evenly">
    <div class="col-7">
      <div class="">
        <span class="v-line"></span>
        <h3 class="col-5 display-4 d-inline-block text-uppercase">
          Explore<br />topics
        </h3>
      </div>
      <p class="">
        Quizzie offers thousands of questions across various categories,
        including Science, Mathematics, History, Geography, Literature, and
        more1. Whether you’re a student looking to ace your exams or a teacher
        aiming to create captivating quizzes, Quizzie ensures there’s always
        something new to learn.
      </p>
      <div>
        <a class="btn btn-primary" href="{% url 'topics' %}">Explore &rarr;</a>
      </div>
    </div>
    <div class="col-4">
      <img
        src="https://picsum.photos/id/3/500"
        alt="random img"
        class="img-fluid rounded-3"
      />
    </div>
  </section>

  <hr class="w-75 d-block mx-auto hr mt-5 mb-3 py-3" />
  <section class="section-1 row justify-content-evenly">
    <div class="col-4">
      <img
        src="https://picsum.photos/id/3/500"
        alt="random img"
        class="img-fluid rounded-3"
      />
    </div>
    <div class="col-7">
      <div class="d-flex align-items-center">
        <span class="v-line"></span>

        <h3 class="col-7 display-4 d-inline-block text-uppercase">
          Create<br />Questions
        </h3>
      </div>
      <p class="">
        Quizzie offers thousands of questions across various categories,
        including Science, Mathematics, History, Geography, Literature, and
        more1. Whether you’re a student looking to ace your exams or a teacher
        aiming to create captivating quizzes, Quizzie ensures there’s always
        something new to learn.
      </p>
      <div><a class="btn btn-primary" href="/topics">Create &rarr;</a></div>
    </div>
  </section>
</main>
<hr class="w-75 d-block mx-auto hr mt-5 mb-3 py-3" />
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center">&copy; Quizzie 2021</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-center text-white">
          <a href="https://github.com/shubham1999/Quizzie">
            <i class="fab fa-github"></i>
            Github
          </a>
          <a href="https://www.linkedin.com/in/shubham-singh-1999/">
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
{% endblock content %}
