{% extends 'Quiz/dependencies.html' %} {% block content %} {% load static %}
<div class="container">
  <h1>{{topic}}</h1>

  <div align="right" id="displaytimer"><b>Timer: 0 seconds</b></div>
  <button id="button" class="btn btn-success" onclick="start()">Start</button>
  <form method="post" action="" class="d-none">
    {% csrf_token %} {% for q in questions %}
    <div class="form-group">
      <label for="question"><h5 class="h5">{{q.question}}</h5></label>
    </div>
    <div class="form-check">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{q.question}}"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1"> {{q.op1}} </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{q.question}}"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2"> {{q.op2}} </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{q.question}}"
          id="gridRadios1"
          value="2"
        />
        <label class="form-check-label" for="gridRadios1"> {{q.op3}} </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="{{q.question}}"
          id="gridRadios2"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2"> {{q.op4}} </label>
      </div>
      <br />
    </div>
    {% endfor %}
    <input id="timer" type="hidden" name="timer" value="" />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
