{% extends 'Quiz/dependencies.html' %} {% block content %}

<div class="container">
  <section class="row" style="max-width: 400px">
    <div class="col-7 border-bottom"><p class="h3 text-center">Topic</p></div>
    <div class="col-5 border-bottom"><p class="h3">Score</p></div>
    {% for i in scores %}
    <div class="row align-items-center border-bottom py-2">
      <img
        src="{{i.topic.image}}"
        class="rounded-circle col-3"
        width="75"
        height="75"
        alt="topic"
      />
      <h4 class="col-4 me-2">{{i.topic}}</h4>
      <h4 class="col-4 border-start">{{i.score}}%</h4>
    </div>
    {% endfor %}
  </section>
</div>

{% endblock %}
