{% extends 'Quiz/dependencies.html' %} {% block content %}

<div class="container">
  <section class="row" style="max-width: 400px">
    <div class="col-7 "><p class="h3 text-center">Topic</h3></div>
    <div class="col-5 border-bottom"><p class="h3">Score</h3></div>
    {% for i in scores %}
    <div class="row align-items-center border-bottom pb-2">
    <img src="{{i.topic.image}}" class="rounded-circle col-3" width="75"height="75" alt="topic"/>
      <h4 class="col-4">{{i.topic}}</h4>
      <h4 class="col-4 border-start">{{i.score}}%</h4>
    </div>
    {% endfor %}
  </section>
</div>

{% endblock %}
